@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');

body {
    background-image: url("./img/Blue-Effect-World-Map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Gabarito', sans-serif;
}
